<html>

<%- include ('/home/app/views/templates/heading/htmlhead') -%>
<%- include ('/home/app/views/templates/heading/alertmanager') -%>
<% if(user.status.any) { %>
  <%- include('/home/app/views/templates/heading/admin_header') -%>
<% } else { %>
  <%- include ('/home/app/views/templates/heading/standard_header') -%>
<% } %>


<br>
<br>

<body>
	<div class="container">
		<div class="card">
			<div class="card-body">
				<h3 class="card-title">
					<%= blog.title %>
				</h3>
				<p class="card-text">
					<%= blog.body %>
				</p>
			</div>
		</div>
	</div>
</body>

<br>
<br>
<%- include ('/home/app/views/templates/footer') -%>
</body>
</html>
