<html>

<%- include ('../templates/heading/htmlhead') -%>
<%- include ('../templates/heading/alertmanager') -%>
<%- include('../templates/adminnav') -%>


<br>
<br>

<body>

 <div class = "container">
  <div class = "content">
    
  <div class = "card">
    <div class = "bg-light border-bottom-1 card-header">
      <h3 class = "card-title"> Activity Log </h3>
    </div>
    <div class = "row align-items-center">
        <div class = "col-sm">
          User
        </div>
        <div class = "col-sm">
          Ticket Status
        </div>
    </div>
    <% tickets.forEach(function(ticket){ %>
      <% console.log(ticket); %>
        <%- include('../templates/blogset/singleticket', {ticket: ticket, users: users}); %>
    <% }); %>
  </div>

</div>
</div>
 
</body>
<%- include ('../templates/footer') -%>
