<html>

<%- include ('/home/app/views/templates/heading/htmlhead') -%>
<%- include ('/home/app/views/templates/heading/alertmanager') -%>
<%- include('/home/app/views/templates/adminnav') -%>


<br>
<br>

<body class = "text-center bg-light">
 <div class = "container">
  <div class = "content">

  <div class = "card">
    <div class = "bg-light border-bottom-1 card-header">
      <h3 class = "card-title"> Activity Log </h3>
    </div>
    <div class="row">
        <div class="col-6">
          <h4>
          User
          </h4>
        </div>
        <div class="col-6">
          <h4>
          Ticket Status
          </h4>
        </div>
    </div>
    <% tickets.forEach(function(ticket){ %>
        <%- include('/home/app/views/templates/ticketset/singleticket', {ticket: ticket}); %>
    <% }); %>
  </div>

</div>
</div>

</body>
<%- include ('/home/app/views/templates/footer') -%>
