<!-- view\templates\newbloghome.ejs -->
<html>

<%- include ('/home/app/views/templates/heading/htmlhead') -%>
<%- include ('/home/app/views/templates/heading/alertmanager') -%>
<% if(user.status.any) { %>
  <%- include('/home/app/views/templates/heading/admin_header') -%>
<% } else { %>
  <%- include ('/home/app/views/templates/heading/standard_header') -%>
<% } %>


<body class = "text-center bg-light">
	<%- include('/home/app/views/templates/blogset/large', {blogs: blogs}); %>
</body>


<br>
<br>
<%- include ('/home/app/views/templates/footer') -%>
</body>
</html>
