<!DOCTYPE html>
<html>

<%- include ('../templates/heading/htmlhead') -%>
<%- include ('../templates/heading/alertmanager') -%>
<%- include ('../templates/heading/standard_header') -%>
<%- include ('../templates/nav') -%>

<br>
<br>

<body>
  <div class = "container">
    <div class = "content">
      <div>
        <h3> Create a Blog </h3>
      </div>
      <br>
      <div class="row">
        <div class="col-6">
          <label for="title"> Title: </label>
          <input id="title" class="form-control" type="text" placeholder=""> </input>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-10">
          <label for="ticket-info"> Body: </label>
          <textarea class="form-control" id="body" type="text" placeholder="" rows="7"></textarea>
        </div>
      </div>
      <br>
      <br>
      <button id="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
</body>
</html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script type = "text/javascript">

jQuery(document).ready(function($){
  jQuery('#submit').click(function() {
    var blog = {
        title: jQuery('#title').val(),
        body: jQuery('#body').val()
      }
    jQuery.ajax({
      url: '/blog/create',
      type: 'POST',
      contentType: 'application/json',
      data: JSON.stringify(blog),
      success: function(res) {
        window.location.replace(res.url);
      },
      error: function(res, err) {
        window.location.replace(res.responseJSON.url);
      }
    });
  })
});

</script>

<%- include ('../templates/footer') -%>
