<html>

<%- include ('/home/app/views/templates/heading/htmlhead') -%>
<%- include ('/home/app/views/templates/heading/alertmanager') -%>
<% if(user.status.any) { %>
  <%- include('/home/app/views/templates/heading/admin_header') -%>
<% } else { %>
  <%- include ('/home/app/views/templates/heading/standard_header') -%>
<% } %>

<br>
<br>

<body class="text-center bg-light">
	<div class="container">
			<div class="col-4">
				<div class="card" style="text-align:left">
					<div class="card-body">
						<h3 class="card-title"> <%= account.firstName + ' ' + account.lastName %> </h3>
						<h5> <%= account.email %> </h5>
						<% date = account.joined.toLocaleString("en-US", {timeZone: "America/New_York"}) %>
						<p> Signed Up: <%= date.substring(0, date.indexOf(',')) %> </p>
					</div>
				</div>
			</div>
	</div>
	<br>
	<%- include('/home/app/views/templates/blogset/small', {blogs: blogs, page_data: blog_page_data}); %>
  <%- include('/home/app/views/templates/ticketset/small', {tickets: tickets, page_data: ticket_page_data}); %>
	<br>
	<div class="container">
    <button id="submit" class="btn btn-primary" value="accept"> Signout Across All Devices </button>
	</div>
</body>


<br>
<br>
<%- include ('/home/app/views/templates/footer') -%>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
	jQuery(document).ready(function($){
  	jQuery('#submit').click(function() {
			var formData = {
	      data: ''
	    }
    	jQuery.ajax({
      	url: '/profile/reset',
      	type: 'POST',
      	//dataType: 'json',
      	contentType: 'application/json',
      	data: JSON.stringify(formData),
      	success: async function(res) {
        	window.location.replace(res.url);
      	},
      	error: async function(res, err) {
        	window.location.replace(res.responseJSON.url);
      	}
    	});
  	})
	});
</script>

</html>
