<html>

<%- include ('../../templates/heading/htmlhead') -%>
<%- include ('../../templates/heading/alertmanager') -%>
<%- include ('../../templates/heading/standard_header') -%>
<%- include ('../../templates/nav') -%>

<br>
<br>

<body>

<div class = "container">
  <div class = "content">
    <div>
      <h3> Register </h3>
    </div>
    <br>
    <div class="row">
      <div class="col-4">
        <label for="email"> SU Email: </label>
        <input id="email" class="form-control" type="text" placeholder="SU email"> </input>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-3">
        <label for="firstname"> First Name: </label>
        <input id="firstname" class="form-control" type="text" placeholder="First Name"> </input>
      </div>
      <div class="col-3">
        <label for="lastname"> Last Name: </label>
        <input id="lastname" class="form-control" type="text" placeholder="Last Name"> </input>
      </div>
    </div>
    <br>
    <br>
    <button id="submit" class="btn btn-primary" value="accept">Submit</button>
  </div>
</div>

</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
jQuery(document).ready(function($){
  jQuery('#submit').click(function() { //ajax
    var user = {
      email: jQuery('#email').val(),
      first: jQuery('#firstname').val(),
      last: jQuery('#lastname').val()
    }
    console.log(user);
    jQuery.ajax({
      url: '/register',
      type: 'POST',
      contentType: 'application/json',
      data: JSON.stringify(user),
      success: async function(res) {
        console.log('POST success');
        window.location.replace(res.url);
      },
      error: async function(res, err) {
        console.log('POST error');
        if(res.responseJSON.url === undefined) {
          res.responseJSON.url = '/';
        }
        window.location.replace(res.responseJSON.url);
      }
    });
  })
});
</script>

<%- include ('../../templates/footer') -%>
