<html>

<%- include ('/home/app/views/templates/heading/htmlhead') -%>
<%- include ('/home/app/views/templates/heading/alertmanager') -%>
<% if(user.status.any) { %>
  <%- include('/home/app/views/templates/heading/admin_header') -%>
<% } else { %>
  <%- include ('/home/app/views/templates/heading/standard_header') -%>
<% } %>

<br>
<br>

<body>

<div class = "container">
  <h3> Are you sure you would like to signout? </h3>
  <div class="container">
  	<a href="/?signout=true" class="btn btn-outline-primary btn-sm"> Signout </a>
  </div>
</div>

</body>


<%- include ('/home/app/views/templates/footer') -%>
