<html>

<%- include ('../../templates/heading/htmlhead') -%>
<%- include ('../../templates/heading/alertmanager') -%>
<%- include ('../../templates/heading/standard_header') -%>
<%- include ('../../templates/nav') -%>

<br>
<br>

<body>

<div class = "container">
  <h3> Are you sure you would like to signout? </h3>
  <div class="container">
  	<a href="/?signout=true" class="btn btn-outline-primary btn-sm"> Signout </a>
  </div>
</div>

</body>


<%- include ('../../templates/footer') -%>
