<div class="row">
	<div class="col-2"> 
		<%= ticket.creator %>
	</div>
	<div class="col-10">
		<div class="card" style="text-align:left">
			<div class="card-body">
				<h4 class="card-title"> 
					<%= ticket.title %>
				</h4>
				<% if (ticket.body.length > 384) { %>
					<%= ticket.body.substring(0, 384) + "..." %>
				<% } else { %>
					<%= ticket.body %>
				<% } %>
			<a href="/ticket/<%= ticket.id %>" class="stretched-link"></a>
			</div>
		</div>
	</div>
</div>
<br>