<html>

<%- include ('../../templates/heading/htmlhead') -%>
<%- include ('../../templates/heading/alertmanager') -%>
<%- include ('../../templates/heading/standard_header') -%>
<%- include ('../../templates/nav') -%>


<br>
<br>

<body>
	<div class="container">
		<div class="card">
			<div class="card-body">
				<h3 class="card-title">
					<%= ticket.title %>
				</h3>
				<p class="card-text">
					<%= ticket.body %>
				</p>
			</div>
		</div>
	</div>
</body>

<br>
<br>
<%- include ('../../templates/footer') -%>
</body>
</html>