<html>

<%- include ('/home/app/views/templates/heading/htmlhead') -%>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<%- include ('/home/app/views/templates/heading/alertmanager') -%>
<% if(user.status.any) { %>
  <%- include('/home/app/views/templates/heading/admin_header') -%>
<% } else { %>
  <%- include ('/home/app/views/templates/heading/standard_header') -%>
<% } %>

<br>
<br>

<body class="text-center bg-light">
  <div class="container">
    <a href="/admin/manage/user" class="btn btn-outline-primary btn-sm ml-1"> User Management </a>
	  <a href="/admin/manage/usergroup" class="btn btn-outline-primary btn-sm mr-1"> Usergroup Management </a>
  </div>
</body>

<%- include ('/home/app/views/templates/footer') -%>

</html>
